
    [data-testid='stFileUploader'] {
        width: fit-content;
    }
    [data-testid='stFileUploader'] section {
        padding: 0;
        float: inline-start;
    }
    [data-testid='stFileUploader'] section > input + div {
        display: none;
    }
    [data-testid='stFileUploader'] section + div {
        float: center;
        padding-top: 0;
    }

